<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <PageTitle>Page not found</PageTitle>
        <p class="is-danger">Sorry, there's nothing at this address. 404</p>
        <NavLink href="/">Go to home</NavLink>
    </NotFound>
</Router>

