<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    
</div>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <NavLink href="/" class="navbar-item">
            <span class="oi oi-home"></span> Inicio
        </NavLink>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <NavLink class="navbar-item">
                Home
            </NavLink>

            <NavLink class="navbar-item">
                Documentation
            </NavLink>

            <div class="navbar-item has-dropdown is-hoverable">
                <NavLink class="navbar-link">
                    More
                </NavLink>

                <div class="navbar-dropdown">
                    <NavLink class="navbar-item">
                        About
                    </NavLink>
                    <NavLink class="navbar-item">
                        Jobs
                    </NavLink>
                    <NavLink class="navbar-item">
                        Contact
                    </NavLink>
                    <hr class="navbar-divider">
                    <NavLink class="navbar-item">
                        Report an issue
                    </NavLink>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
